*
  box-sizing border-box

html
  height 100%

  body
    background-color rgba(227, 227, 227, 0.88)
    font-family 'Roboto'
    overflow hidden
    display flex
    flex-direction column
    min-height 0
    height 100%
    margin 0
    padding 8px

    #app
      display flex
      min-height 0
