@font-face
  font-family 'Roboto'
  font-style normal
  src url('../assets/fonts/Roboto-Regular.ttf')

@font-face
  font-family 'Roboto-Bold'
  src url('../assets/fonts/Roboto-Bold.ttf')

@font-face
  font-family 'Roboto-Black'
  src url('../assets/fonts/Roboto-Black.ttf')

@font-face
  font-family 'Roboto-BlackItalic'
  src url('../assets/fonts/Roboto-BlackItalic.ttf')

@font-face
  font-family 'Roboto-Italic'
  src url('../assets/fonts/Roboto-Italic.ttf')

@font-face
  font-family 'Roboto-Light'
  src url('../assets/fonts/Roboto-Light.ttf')

@font-face
  font-family 'Roboto-LightItalic'
  src url('../assets/fonts/Roboto-LightItalic.ttf')

@font-face
  font-family 'Roboto-Medium'
  src url('../assets/fonts/Roboto-Medium.ttf')

@font-face
  font-family 'Roboto-MediumItalic'
  src url('../assets/fonts/Roboto-MediumItalic.ttf')

@font-face
  font-family 'Roboto-Thin'
  src url('../assets/fonts/Roboto-Thin.ttf')

@font-face
  font-family 'Roboto-ThinItalic'
  src url('../assets/fonts/Roboto-ThinItalic.ttf')
