.log-wrapper
  display flex
  flex-direction column
  padding 0 12px

  .log-header
    display flex
    align-items center
    justify-content center
    max-height 60px
    flex 1

    button
      margin-left auto
      height 30px
      font-size 11px

  .log-items-wrapper
    display flex
    flex-direction column
    overflow-y auto
    min-height 0

    .log-item
      display flex
      flex-direction column
      margin-bottom 12px
      border-radius 5px
      background-color rgb(255, 255, 255)
      box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      padding 4px
      border 1px solid rgba(0, 0, 0, 0.1)

      .log-item-stocks
        list-style none
        padding-left 4px
